html,
ul,
body {
	padding: 0;
	margin: 0;
}
ul {
	list-style: none;
}

.siderbar {
	position: fixed;
	width: 250px;
	height: 100%;
	top: 0;
	left: -250px;
	background-color: #042331;
	transition: all 0.5s;
	z-index: 998;
}

.siderbar h1 {
	margin: 0;
	width: 100%;
	height: 100px;
	line-height: 100px;
	text-align: center;
	user-select: none;
	font-size: 30px;
	color: #fff;
	background-color: #063146;
	border-bottom: 1px solid black;
}
.siderbar ul {
	overflow: hidden;
}
.siderbar ul a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 80px;
	box-sizing: border-box;
	border-top: 1px solid rgba(255, 255, 255, .1);
	border-bottom: 1px solid black;
	color: #aaa;
	text-decoration: none;
	font-size: 18px;
	transition: all 0.5s;
}
.siderbar li a i {
	margin-right: 20px;
}
.siderbar ul a:hover {
	margin-left: 10px;
	color: #eee;
}
#check {
	display: none;
}
#show {
	background-color: #063146;
	color: #aaa;
	width: 20px;
	height: 20px;
	border-radius: 5px;
	text-align: center;
	padding: 5px;
	position: fixed;
	top: 20px;
	left: 20px;
	transition: all 0.5s;
	cursor: pointer;
	z-index: 997;
}
#cancel {
	background-color: #042331;
	color: #aaa;
	width: 20px;
	height: 20px;
	border-radius: 5px;
	text-align: center;
	padding: 2px;
	position: fixed;
	top: 43px;
	left: -40px;
	z-index: 999;
	cursor: pointer;
	transition: all 0.5s;
}
#show:hover,
#cancel:hover {
	color: #eee;
}
#show::before,
#cancel::before {
	line-height: 20px;
}
#check:checked ~ .siderbar {
	left: 0px;
}
#check:checked ~ label #cancel {
	left: 210px;
}
section {
	background: url('../img/background.jpg') repeat center;
	-webkit-background-size: cover;
	background-size: cover;
	z-index: 1;
	transition: all 0.5s;
	height: 100vh;
	padding: 5% 10%;
	box-sizing: border-box;
}
#check:checked ~ section {
	margin-left: 250px;
}
.main {
	background-color: rgba(1, 1, 1, .6);
	height: 100%;
	padding: 20px 50px;
	border-radius: 20px;
	box-sizing: border-box;
	overflow: auto;
	-ms-overflow-style: none;
}
.main h3 {
	color: #fff;
}
.main::-webkit-scrollbar {
	display: none;
}